<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net452" />
  <package id="SpecFlow.MsTest" version="1.0.0" targetFramework="net452" />
  <package id="specflow.plugins.codedui" version="1.0.35" targetFramework="net452" />
</packages>